<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Kira PAS-HOME</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="home">
	<header>
		<div align="right">
			<form th:action="@{/logout}" method="post">
				<button type="submit">logout</button>
			</form>
		</div>
	
	</header>
<div align="center">
		
		<h2>Create Business Property</h2>
		<form th:action="@{/createBusinessProperty}" method="post">
			<table>
				<tr>
					<td>Business ID:</td>
					<td><input name="businessId" id="businessId" type="number"
						value="" /></td>
				</tr>
				<tr>
					<td>Consumer ID:</td>
					<td><input name="consumerId" id="consumerId" type="number"
						value="" /></td>
				</tr>
				<tr>
					<td>Insurance Type:</td>
					<td><input name="insurancetype" id="insurancetype" type="text"
						value="" /></td>
				</tr>
				<tr>
					<td>Property Type:</td>
					<td><input name="propertytype" id="propertytype" type="text"
						value="" /></td>
				</tr>
				<tr>
					<td>Building sqft:</td>
					<td><input name="buildingsqft" id="buildingsqft" type="text"
						value="" /></td>
				</tr>
				<tr>
					<td>Building Type:</td>
					<td><input name="buildingtype" id="buildingtype" type="text"
						value="" /></td>
				</tr>
				<tr>
					<td>Building Storeys:</td>
					<td><input name="buildingstoreys" id="buildingstoreys"
						type="text" value="" /></td>
				</tr>
				<tr>
					<td>Building Age:</td>
					<td><input name="buildingage" id="buildingage" type="number"
						value="" /></td>
				</tr>
				<tr>
					<td>Cost of the Asset:</td>
					<td><input name="costoftheasset" id="costoftheasset"
						type="number" value="" /></td>
				</tr>
				<tr>
					<td>Salvage Value:</td>
					<td><input name="salvagevalue" id="salvagevalue" type="number"
						value="" /></td>
				</tr>
				<tr>
					<td>Useful Life of the Asset:</td>
					<td><input name="usefullifeoftheAsset"
						id="usefullifeoftheAsset" type="number" value="" /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit"
						value="Create Business Property" /></td>
				</tr>

			</table>
		</form>
		<table>
			<tr>
				<td><h6>Business Property Status:</h6></td>
				<td><h6>
						<span th:text="${businessproperystatus}"></span>
					</h6></td>
			</tr>
		</table>


		<br> <br>
		<h2>View Consumer Property</h2>
		<form th:action="@{/viewConsumerProperty}" method="get">
			<table>
				<tr>
					<td>Consumer ID:</td>
					<td><input name="consumerid" id="consumerid" type="number"
						value="" /></td>
				</tr>
				<tr>
					<td>Property ID:</td>
					<td><input name="propertyid" id="propertyid" type="number"
						value="" /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit"
						value="View Consumer Property" /></td>
				</tr>
			</table>
		</form>
		<br> <br>
		<h2>Update Business Property</h2>
		<form th:action="@{/updateBusinessProperty}" method="post">
			<table>
				<tr>
					<td>Property Id:</td>
					<td><input name="propertyId" id="propertyId" type="number"
						value="" /></td>
				</tr>
				<tr>
					<td>Business ID:</td>
					<td><input name="businessId" id="businessId" type="number"
						value="" /></td>
				</tr>
				<tr>
					<td>Consumer ID:</td>
					<td><input name="consumerId" id="consumerId" type="number"
						value="" /></td>
				</tr>
				<tr>
					<td>Insurance Type:</td>
					<td><input name="insurancetype" id="insurancetype" type="text"
						value="" /></td>
				</tr>
				<tr>
					<td>Property Type:</td>
					<td><input name="propertytype" id="propertytype" type="text"
						value="" /></td>
				</tr>
				<tr>
					<td>Building sqft:</td>
					<td><input name="buildingsqft" id="buildingsqft" type="text"
						value="" /></td>
				</tr>
				<tr>
					<td>Building Type:</td>
					<td><input name="buildingtype" id="buildingtype" type="text"
						value="" /></td>
				</tr>
				<tr>
					<td>Building Storeys:</td>
					<td><input name="buildingstoreys" id="buildingstoreys"
						type="text" value="" /></td>
				</tr>
				<tr>
					<td>Building Age:</td>
					<td><input name="buildingage" id="buildingage" type="number"
						value="" /></td>
				</tr>
				<tr>
					<td>Cost of the Asset:</td>
					<td><input name="costoftheasset" id="costoftheasset"
						type="number" value="" /></td>
				</tr>
				<tr>
					<td>Salvage Value:</td>
					<td><input name="salvagevalue" id="salvagevalue" type="number"
						value="" /></td>
				</tr>
				<tr>
					<td>Useful Life of the Asset:</td>
					<td><input name="usefullifeoftheAsset"
						id="usefullifeoftheAsset" type="number" value="" /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit"
						value="Update Business Property" /></td>
				</tr>
			</table>
		</form>
		<table>
			<tr>
				<td><h6>Business Property Status:</h6></td>
				<td><h6>
						<span th:text="${businesspropteryupdate}"></span>
					</h6></td>
			</tr>
		</table>
</div>

	<script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
</body>
</html>