<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KIRA PAS</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
     <style>
    a:link,
    a:visited {
        background-color: white;
        color: black;
        border: 2px solid green;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    a:hover,
    a:active {
        background-color: green;
        color: white;
    }
    body{     
    background-image: url("../images/create.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
		}
		
    </style>
</head>
<body class="home">
	<header>
	<div align="left">
			<a href="/">Home</a>
		</div>
		<h1 class="kira">KIRA Policy Administration System</h1>
	</header>
<div align="center">
<h1>Consumer Business Details</h1>
<table style="border: 1px solid black;border-collapse: collapse;">
 
  <tr><td><strong>First Name:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.firstname}"></span>
</td>
  </tr>
  <tr><td><strong>Last Name:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.lastname}"></span></td>
  </tr>
  <tr><td><strong>DOB:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.dob}"></span></td>
  </tr>
  <tr><td><strong>Business Name:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.businessname}"></span></td>
  </tr>
  <tr><td><strong>Pan Details:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.pandetails}"></span></td>
  </tr>
  <tr><td><strong>Email:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.email}"></span></td>
  </tr>
  <tr><td><strong>Phone:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.phone}"></span></td>
  </tr>
  <tr><td><strong>Website:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.website}"></span></td>
  </tr>
  <tr><td><strong>Business Qverview:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.businessoverview}"></span></td>
  </tr>
  <tr><td><strong>Validity:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.validity}"></span></td>
  </tr>
  <tr><td><strong>Agent Name:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.agentname}"></span></td>
  </tr>
  <tr><td><strong>Agent Id:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.agentid}"></span></td>
  </tr>
  <tr><td><strong>Business ID:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.businessid}"></span></td>
  </tr>
  <tr><td><strong>Consumer ID:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.consumerId}"></span></td>
  </tr>
  <tr><td><strong>Business Category:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.businesscategory}"></span></td>
  </tr>
  <tr><td><strong>Business Type:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.businesstype}"></span></td>
  </tr>
  <tr><td><strong>Business Turn Over:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.businessturnover}"></span></td>
  </tr>
  <tr><td><strong>Capital Invested:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.capitalinvested}"></span></td>
  </tr>
  <tr><td><strong>Total Employees:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.totalemployees}"></span></td>
  </tr>
  <tr><td><strong>Business Value:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.businessvalue}"></span></td>
  </tr>
  <tr><td><strong>Business Age:</strong></td>
    <td>
<span th:text="${consumerBusinessDetails.businessage}"></span></td>
  </tr>
 
</table>
</div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
</body>
</html>