<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Kira PAS-HOME</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="home">
	<header>
		<div align="right">
			<form th:action="@{/logout}" method="post">
				<button type="submit">logout</button>
			</form>
		</div>
	
	</header>
<div align="center">
		
		<h2>Create Policy</h2>
		<form th:action="@{/createPolicy}" method="post">
			<table>
				<tr>
					<td>Consumer ID:</td>
					<td><input name="consumerid" id="consumerid" type="number"
						value="" /></td>
				</tr>
				<tr>
					<td>Accepted Quotes</td>
					<td><input name="acceptedquotes" id="acceptedquotes"
						type="text" value="" /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="Create Policy" />
					</td>
				</tr>

			</table>
		</form>
		<table>
			<tr>
				<td><h6>Policy Status:</h6></td>
				<td><h6>
						<span th:text="${policystatus}"></span>
					</h6></td>
			</tr>
		</table>
		<br> <br>
		<h2>Issue Policy</h2>
		<form th:action="@{/issuePolicy}" method="post">
			<table>
				<tr>
					<td>Policy ID:</td>
					<td><input name="policyid" id="policyid" type="text" value="" /></td>
				</tr>
				<tr>
					<td>Consumer ID:</td>
					<td><input name="consumerid" id="consumerid" type="number"
						value="" /></td>
				</tr>
				<tr>
					<td>Business Id:</td>
					<td><input name="businessid" id="businessid" type="number"
						value="" /></td>
				</tr>
				<tr>
					<td>Payment Details:</td>
					<td><input name="paymentdetails" id="paymentdetails"
						type="text" value="" /></td>
				</tr>
				<tr>
					<td>Acceptance Status</td>
					<td><input name="acceptancestatus" id="acceptancestatus"
						type="text" value="" /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="Issue Policy" /></td>
				</tr>

			</table>
		</form>
		<table>
			<tr>

				<td><h6>Issue Policy Status:</h6></td>
				<td><h6>
						<span th:text="${issuePolicyStatus}"></span>
					</h6></td>

			</tr>
		</table>
		<br> <br>
		<h2>View Policy</h2>
		<form th:action="@{/viewPolicy}" method="get">
			<table>
				<tr>
					<td>Consumer ID:</td>
					<td><input name="consumerid" id="consumerid" type="number"
						value="" /></td>
				</tr>
				<tr>
					<td>Policy ID:</td>
					<td><input name="policyid" id="policyid" type="text" value="" /></td>
				</tr>

				<tr>
					<td colspan="2"><input type="submit" value="View Policy" /></td>
				</tr>
			</table>
		</form>
		<br> <br>
	</div>

	<script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
</body>
</html>