<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Kira PAS-HOME</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">

<style>
a:link,
a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: green;
    color: white;
}
body{     
    background-image: url("../images/create.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
		}

</style>

</head>
<body class="home">
    <header>
		<div align="left">
			<a href="/">Home</a>
		</div>
		
	</header>
<div align="center">
		<h2>Create Consumer Business</h2>
		<form name="registration" th:action="@{/createConsumerBusiness}" method="post" onsubmit="return formValidation();">
			<table>
				<tr>
					<td><strong>First Name:</strong></td>
					<td><input name="firstname" id="firstname" type="text"
						value="" pattern="[a-zA-Z'-'\s]{1,30}" title="Name should only contains Alphabet Letters eg. Shamim"  required /></td>
				</tr>
				<tr>
					<td><strong>Last Name:</strong></td>
					<td><input name="lastname" id="lastname" type="text" value="" pattern="[A-Za-z]{1,30}" title="Name should only contains Alphabet Letters eg. Shamim" required/></td>
				</tr>
				<tr>
					<td><strong>DOB:</strong></td>
					<td><input name="dob" id="dob" type="date" value="" placeholder="dd-mm-yyyy" min="1900-01-01" max="2000-12-31" required /></td>
				</tr>
				<tr>
					<td><strong>Business Name:</strong></td>
					<td><input name="businessname" id="businessname" type="text"
						value="" pattern="[a-zA-Z'-'\s]{1,30}" title="Buisness Name should only contains Alphabet Letters" /></td>
				</tr>
				<tr>
					<td><strong>Pan Details:</strong></td>
					<td><input name="pandetails" id="pandetails" type="text"
						value="" pattern="([A-Za-z]){5}([0-9]){4}([A-Za-z]){1}" title="Enter Pan Number in Correct form. eg ABCD1234F" required /></td>
				</tr>
				<tr>
					<td><strong>Email:</strong></td>
					<td><input name="email" id="email" type="email" value="" required /></td>
				</tr>
				<tr>
					<td><strong>Phone:</strong></td>
					<td><input name="phone" id="phone" type="text" value="" pattern="[0-9]{10}" required /></td>
				</tr>
				<tr>
					<td><strong>Website:</strong></td>
					<td><input name="website" id="website" type="url" value="" title="Enter Correct url of website" required /></td>
				</tr>
				<tr>
					<td><strong>Business Overview:</strong></td>
					<td><input name="businessoverview" id="businessoverview"
						type="text" value="" pattern="[A-Za-z\s]{1,50}" required /></td>
				</tr>
				<tr>
					<td><strong>Validity:</strong></td>
					<td><input name="validity" id="validity" type="Number" value="" min="0" max="99999999999" placeholder="No. of years"required /></td>
				</tr>
				<tr>
					<td><strong>Agent Name:</strong></td>
					<td><input name="agentname" id="agentname" type="text"
						value="" pattern="[A-Za-z\s]{1,30}" title="Name should only contains Alphabet Letters eg. Shamim"  required /></td>
				</tr>
				<tr>
					<td><strong>Agent Id:</strong></td>
					<td><input name="agentid" id="agentid" type="number" value="" min="0" max="99999999999"required /></td>
				</tr>
				<tr>
					<td><strong>Business Category:</strong></td>
					<td>
					<input type="text" name="businesscategory" id="businesscategory" list="BUisness_Category" required="required">
					 <datalist id="BUisness_Category">
							<option value="Retailer">
							<option value="Health">
							<option value="Practitioner">
							<option value="Distributor">
							<option value="Food Service">
							<option value="Supplier">
							<option value="Manufacturer">
							<option value="Buisness Service">
							<option value="Investor">
						</datalist>
					</td>
				</tr>
				<tr>
					<td><strong>Business Type:</strong></td>
					<td><input name="businesstype" id="businesstype" type="text"
						value="" pattern="[a-zA-Z'-'\s]{1,30}" title="Buisness Type should only contains Alphabet Letters" required /></td>
				</tr>
				<tr>
					<td><strong>Business Turnover:</strong></td>
					<td><input name="businessturnover" id="businessturnover"
						type="number" min="0" max="99999999999" value="" required /></td>
				</tr>
				<tr>
					<td><strong>Capital Invested:</strong></td>
					<td><input name="capitalinvested" id="capitalinvested"
						type="number" min="0" max="99999999999" value="" required /></td>
				</tr>
				<tr>
					<td><strong>Total Employees</strong></td>
					<td><input name="totalemployees" id="totalemployees"
						type="number" value="" min="0" max="99999999999" required /></td>
				</tr>
				<tr>
					<td><strong>Business Age:</strong></td>
					<td><input name="businessage" id="businessage" type="number"
						value="" min="0" max="99999999999" required /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit"
						value="Create Consumer Business" /></td>
				</tr>
             
			</table>
		</form>
		<table>
			<tr>
				<td><h6><strong>Consumer Business Status:</strong></h6></td>
				<td><h6>
						<span th:text="${consumerbusinessstatus}"></span>
					</h6></td>
			</tr>
		</table>
	</div>

	<script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
</body>
</html>